{% extends "base.html" %}

{% block pagename %}О нас{% endblock %}

{% block main %}
<article>
    <style>
<!--	.leftimg {-->
<!--                 float:left; /* Выравнивание по левому краю */-->
<!--                 margin: 0 10px 5px 0; /* Отступы вокруг картинки */-->
<!--              }-->
              .rightimg  {
                float: right; /* Выравнивание по правому краю  */
                margin: 0 0 10px 10px; /* Отступы вокруг картинки */
              }
	</style>
    <section>
      <img src="../static/images/abibaslike.jpg" alt="Здесь должна быть картинка" height="900" class="rightimg">
      <h3>Abibas — это бренд, объединяющий профессиональных атлетов и любителей спорта
    и комфорта по всему миру. Наша ключевая миссия – менять жизнь людей через спорт,
    благодаря качественной, технологичной и стильной одежде и обуви, при этом не забывая
    о заботе об окружающей среде.</h3>
    </section>
    <section>
      <h3>С ЧЕГО ВСЕ НАЧАЛОСЬ?</h3>
      <h3>Первый магазин сети открылся в 1992 году. С тех пор нашей главной и
        неустанной заботой является удовлетворенность потребителей качеством,
        разнообразием и доступностью наших товаров и сервисов.</h3>
    </section>
    <section>
      <h3>КАКОВА НАША МИССИЯ?</h3>
        <ul>
            <li><a><h3> Развивать успешный бизнес,
            всегда предлагая клиентам оптимальный ассортимент
            качественных товаров для спорта и активного
            отдыха при оптимальном уровне сервиса в соответствии с
            изменяющимися потребностями клиентов.</h3></a></li>

            <li><a><h3> Способствовать оздоровлению нации,
            продвигая ценности здорового образа жизни,
            спорта и активного отдыха, улучшая качество
            жизни наших клиентов.</h3></a></li>
        </ul>
    </section>
    <section>
        <h3>КОНТАКТЫ</h3>
        <h3>Почтовый адрес: 125319, г. Москва, Кочновский проезд, д.4<br/>
        Юридический адрес: 117437, г. Москва, улица Миклухо-Маклая, д. 18
        </h3>

    </section>
</article>
{% endblock %}