{% extends "base.html" %}

{% block pagename %}Abibas{% endblock %}

{% block main %}
<style>
	.img-line {
<!--		border: 2px solid #55c5e9; /* Рамка вокруг фотографии */-->
		padding: 15px; /* Расстояние от картинки до рамки */
		margin-right: 10px; /* Отступ справа */
		margin-bottom: 10px; /* Отступ снизу */
    }
	</style>
<p class="img-line">

	<img src="../static/images/tyagi2.webp" alt="Картинка" height="300px">
	<img src="../static/images/t-shirt.jpeg" alt="Картинка" height="300px">
	<img src="../static/images/jacket1.webp" alt="Картинка" height="300px">
	<img src="../static/images/jacket.jpg" alt="Картинка" height="300px">
    <img src="../static/images/jacket3.jpg" alt="Картинка" height="300px">
    <img src="../static/images/t-shirt1.jpg" alt="Картинка" height="300px">
	<img src="../static/images/socks3.jpg" alt="Картинка" height="300px">
	<img src="../static/images/jija.jpeg" alt="Картинка" height="300px">
   	<img src="../static/images/tyagi.webp" alt="Картинка" height="300px">
	<img src="../static/images/mask.jpg" alt="Картинка" height="300px">
	<img src="../static/images/hat3.jpg" alt="Картинка" height="300px">
	<img src="../static/images/hats.jpg" alt="Картинка" height="300px">
	<img src="../static/images/tyagi1.jpeg" alt="Картинка" height="300px">
	<img src="../static/images/tyagi3.webp" alt="Картинка" height="300px">
	<img src="../static/images/socks1.jpg" alt="Картинка" height="300px">
	<img src="../static/images/socks.jpg" alt="Картинка" height="300px">
	<img src="../static/images/hat1.jpeg" alt="Картинка" height="300px">
	<img src="../static/images/hat2.jpg" alt="Картинка" height="300px">
	<img src="../static/images/jacket2.jpg" alt="Картинка" height="300px">

	</p>
{% endblock %}